{% extends 'PortfolioDatabase/base.html' %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{% block body %}
    <p>
        Welcome to my Portfolio! In the dynamic landscape of technology, the pursuit of knowledge in
        computer science has become an exhilarating journey. As a senior at Weber State University,
        I have had the privilege of delving into the intricacies of this ever-evolving field.
    </p>
{% endblock %}
</body>
</html>